$bgPrimary: #fff;
$bgInfo: #8ab0da;
$bgWhite: #fff;

$bgBorder: #c2c2c2;
$bgBorderLight: #e4e4e4;

$colorInfo: #0d2bc4;
$colorPrimary: #565656;

$hoverPrimary: #aea9a9;
$hoverInfo: #9e9e9e;
$hoverSelect: #f8f8f8;

$activePrimary: #897c7c;
$activeInfo: #4f768a;
$activeSelect: #e7e7e7;
 