@import 'assets/scss/vars';
@import 'assets/scss/mixins'; 

.ui-btn {
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 16px;
  transition: all .3s ease-out;
  outline: none; 
  border: 1px solid transparent;
  width: 100%; 
  box-sizing: border-box;
  user-select: none;
  appearance: none;
  

  &_primary {
    border: 1px solid $bgBorder;
    color: $colorPrimary;
    background-color: $bgPrimary;

    @include hover($hoverPrimary);
    @include focus($activePrimary);
  } 

  &_info {
    background-color: $bgInfo;
    border: 1px solid $bgInfo;
 
    @include hover($hoverInfo);
    @include focus($activeInfo);
  }

  &_small {
    max-width: 100px;
  }

  &_medium {
    max-width: 140px;
  }
  
  &_large {
    max-width: 190px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    user-select: none;

    &:hover, &:focus-visible, &:active {
      box-shadow: unset;
    }
  }
}